<template id="Dashboard">
    
    <div>
        <Sidebar isActive="Dashboard"/>

        <div class="display_container">

                <div class="page_title">
                    
                </div>
                <div class="chart_container">
                     <div class="col-md-5" style="width: 500px; margin-bottom:90% margin-top:90px;">
                        <Barchart/>
                    </div>
                    <div class="col-md-5" style="width: 500px; margin-left: 50%; margin-top:-22%">
                        <Doughnut/>
                    </div>
                </div>

        </div>
    </div>
    
</template>

<script>
import Sidebar from '../navigations/Sidebar.vue'
import Barchart from './barchart.vue'
import Doughnut from './doughnutchart.vue'
export default {
    name: 'Dashboard',
    components: {
        Sidebar,
        Barchart,
        Doughnut,
    }
}
</script>