<template id="setting">

    <div>
         <div class="modal_add_patron">
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModallabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal_head" style="background-color: grey;"  >
                                <h6 class="modal-title" id="addModallabel">ADD PATRON</h6>
                                <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="POST">
                                <div class="modal-body">           
                                        <div class="form-group">
                                            <label for="fname">Name</label>
                                            <input id="fname" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="sname">Address</label>
                                            <input id="sname" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="lname">Email</label>
                                            <input id="lname" type="text" class="form-control">
                                        </div>
                                    <div class="form-group">
                                        <label for="email">Date Registered</label>
                                        <input id="email" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-outline-secondary" style="background-color: white;">SAVE</button>
                                    <button type="button" class="btn btn-outline-secondary" style="background-color: white;" data-dismiss="modal">CANCEL</button>

                                 </div>
                              </form>  
                            </div>
                         </div>
                        </div>       
                    </div>
                     <div class="modal_delete_patron">
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModallabel" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal_head" style="background-color: grey;">
                            <h6 class="modal-title" id="deleteModallabel">CONFIRMATION</h6>
                            <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this entry?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button"  style="background-color: white;" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button"  style="background-color: white;" class="btn btn-outline-secondary">Delete</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <Sidebar/>
        <div class="dashboard_container">
            <h3>PROFILES</h3>
            <hr>
           <div class="container">
                        <button class="btn" data-toggle="modal" data-target="#addModal" style="background-color: grey;  width: 118px; height: 35px; font-size: 14px; margin-left:100px; margin-top:150px;">Add Profiles</button>
                        <input class="form-control" type="text" placeholder="Search" style="background-color:white; margin-left: 900px; margin-top: 5px;  width: 180px; height: 35px; font-size: 14px;">
            <table id="myTable" class="table table-striped table-hover" style="background-color: white; margin-top: 90px;  margin-left: 150px; width:65%; height: 30px;">
                <thead>
                    <tr style="background-color: #ababaa;">
                       <th>Actions</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Date Registered</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                          <td>
                          <div class="table_btn">
                           <button class="btn-btn-success"  style="background-color:yellow;">EDIT</button>
                          <button style="margin-left:10px; background-color:red;"  data-toggle="modal" data-target="#deleteModal">DELETE</button>
                            </div>
                        </td>
                        <td>Apple May Gad</td>
                        <td>apple@gmail.com</td>
                        <td>Palo, Leyte</td>
                        <td>10-30-20</td>

                    </tr>
                    <tr>
                           <td>
                          <div class="table_btn">
                           <button class="btn-btn-success"  style="background-color:yellow;">EDIT</button>
                          <button style="margin-left:10px; background-color:red;"  data-toggle="modal" data-target="#deleteModal">DELETE</button>
                            </div>
                        </td>
                         <td>Blane Cyndelle Corales</td>
                        <td>Palo, Leyte</td>
                        <td>blane@gmail.com</td>
                        <td>10-30-20</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
</template>

<script>
import Sidebar from '../navigations/Sidebar.vue'

export default {
    name: 'Patron',
    components: {
        Sidebar
    }
}
</script>

<style scoped>
.dashboard_container h3{
    color:black;
}
</style>