<template>
    
    <div>
        <Sidebar isActive="Settings"/>

        <div class="display_container">
            <div class="container_render">
                <div class="page_title">
                    <h2>Settings</h2>
                    
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
import Sidebar from '../navigations/Sidebar.vue'
export default {
    name: 'Dashboard',
    components: {
        Sidebar
    }
}
</script>