<template>
    <div class="sidebar_container">
                <div class="header_title">
            <h5>LIBRARY MANAGEMENT SYSTEM</h5>
        </div>

        <div class="header_container">
            <div class="left_head">
                <img src="../../assets/img/logo.png" alt="" style="width: 100px; height: 90px;">
            </div>
            <div class="right_head">
                <a href="#">LOGOUT</a>
            </div>
        </div>
        <div class="link_container">
            <a href="#"><span><img src="../../assets/img/dashboard_dark.png" alt=""></span>Dashboard</a>
            <a href="patron_management.html"><span><img src="../../assets/img/patron_dark.png" alt=""></span>Patron Management</a>
            <a href="book_management.html"><span><img src="../../assets/img/book_dark.png" alt=""></span>Book Management</a>
            <a href="#"><span><img src="../../assets/img/setting_dark.png" alt=""></span>Settings</a>
        </div>
            
        <br>

    </div>
</template>

<script>
export default {
    name: 'Sidebar',
    props: {
            isActive: String,
        }
}
</script>