* {
	margin: 0;
	width: 100px;
}
.Rectange{
width:50px;
height:50px;
background: blue}

.wrapper{
	margin: 0 auto;
	width: 100px;
}
 
.image-logo{
	width: 100px;
	border-top-left-radius: 0;
}
.image-bar{
	width: 35px;
	border-top-left-radius: 0;
}
.image-hotel{
	width: 1500px;
	height: 750px;
	margin: 0 auto;
	border-width: 0;
}

.image-california{
	width: 600px;
	border-top-left-radius: 0;
}
.image-king{
	width: 600px;
	border-top-left-radius: 0;
}
.image-queen{
	width: 600px;
	border-top-left-radius: 0;
}
.image-full{
	width: 600px;
	border-top-left-radius: 0;
}
.image-twin{
	width: 600px;
	border-top-left-radius: 0;
}
.btn{
	width: 100px;
	height: 50px;
	border-right: 0;
	background-color: red;
	text-decoration-color: white;

}
