body{
    margin: auto;
    background-color: #ABABAA;
}

.chart_container{
    padding-top: 20%;
    padding-left: 20%;

}

.header_title{
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    position: fixed;
    
   
}

.header_title h5{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 1%;
}


.header_container{
    padding: 1%;
    width: 100%;
    
    position: fixed;
    border: solid black 1px;
}


.header_container img{
    border-radius: 100px;
    width: 300px;
    height: 900px;
    margin-left: 1%;
    margin-top: 30px;
}

.header_container .right_head{
    color: black;
    margin-left: 20%;
    margin-top: -50px;
    padding-bottom: 3%;
}

.right_head a{
    color: black;
    margin-left: 87%;
    font-size: 20px;
    font-family: san-serif;
    
}

.sidebar_container{
    background-color: #ABABAA;
    position: fixed;
    padding-top: 0%;
    width: 200px;
    height: 100%;
    border: solid black 1px;
}

.link_container{
    margin-top: 100%;
}

.sidebar_container a{
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    transition-property: background-color;
    padding-left: 20px;
    line-height: 50px;
    border-bottom: solid black 1px;
}

.sidebar_container a:hover{
    background-color: rgb(92, 92, 92);
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar_container img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.table_container{
    position: fixed;
    width: 84%;
    height: 105;
    margin-left: 15.3%;
    margin-top: 14%;
    padding: 2%;
}

.table_container a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.5s;
}

.table_container a:hover{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.table_container input{
    margin-left: 50%;
}

.table_patron table{
    margin-top: 10%;
    width: 50%;
    text-align: center;
    padding-left: 50%;
}

.table_patron thead{
    border: solid black 1px;

}

.table_patron th{
    border: solid black 1px;
    padding: 2%;
}

.table_patron tbody{
    border: solid black 1px;
}

.table_patron td{
    border: solid black 1px;
    padding: 10px;
}




.table_book table{
    margin-top: 2%;
    width: 100%;
    text-align: center;
    padding-left: 2%;
}

.table_book thead{
    border: solid black 1px;

}

.table_book th{
    border: solid black 1px;
    padding: 2%;
}

.table_book tbody{
    border: solid black 1px;
}

.table_book td{
    border: solid black 1px;
    padding: 10px;
}

.table_patron button{
    display: block;
    width: 70px;
    margin-top: 5px;
    margin-left: 30px;
}

.table_book button{
    display: block;
    width: 70px;
    margin-top: 5px;
    margin-left: 30px;
}





.modal_head{
    background-color: black;
    color: white;
}